<h1><%= title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @command %>
</pre>
<table class="table table-bordered">
  <tr>
    <th>Type</th>
    <th>Location</th>
    <th>%Name</th>
    <th>%Size</th>
    <th>Used</th>
    <th>Available</th>
    <th>Use% </th>
  </tr>
  <% @processes.each do |app| %>
  <tr>
    <td><%= app.type %></td>
    <td><%= app.location %></td>
    <td><%= app.name %></td>
    <td><%= app.size %></td>
    <td><%= app.used %></td>
    <td><%= app.available %></td>
    <td><%= app.used_percentage %></td>
  </tr>
  <% end %>

</table>